@model Libanon.Models.Book

@{
    ViewBag.Title = "AcceptBooking";
}

<h2>AcceptBooking</h2>

<div>
    <h4>Chấp nhận yêu cầu mượn sách!</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>