@model Libanon.Models.Book

@{
    ViewBag.Title = "ActiveCreate";
}

<h2>ActiveCreate</h2>

<div>
    <h4>Xác nhận mail thành công</h4>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
