@model Libanon.Models.Book

@{
    ViewBag.Title = "ConfirmReturnBook";
}

<h2>ConfirmReturnBook</h2>

<div>
    <h4>Đã xác nhận yêu cầu trả sách!</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>