@model Libanon.Models.Book

@{
    ViewBag.Title = "RefuseBooking";
}

<h2>RefuseBooking</h2>

<div>
    <h4>Từ chối yêu cầu mượn sách!</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>